{
  "presets": [
    [
      "env",
      {
        "target": {
          "browsers": ["IE >= 8"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-entries",
    "transform-runtime"
  ]
}
